.tmdb-search-input-container {
  position: relative;
  top: -40px;
  display: flex;
  align-items: center;
  max-width: 700px;

  ::placeholder {
    color: #00d277;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
  }

  input {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    border: none;
    width: 100vw;
    height: 60px;
    padding: 20px;

  }

  .tmdb-search-icon {
    img {
      height:23px;
    }

    margin-left: -40px;
  }
}
