.tmdb-overview-header {
  h1 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;

    color: #E3F4FC;
  }
}

.tmdb-overview-description {
  margin-top:30px;
  h2 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    color: #9FBBC7
  }
}
