.tmdb-movie-info-header {
  h1 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size:40px;
    line-height: 42px;
    color: #B8D8E6;
  }
}

.tmdb-movie-info-date-and-score {
  h3 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #B8D8E6;
    margin-top: 5px;
    margin-bottom: 10px;
  }

}

.tmdb-movie-info-length {
  h3 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #B8D8E6;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
